# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore

# Dreamweaver Dateien
_notes/
*.dwt
*.bak
dwsync.xml

# Bower & NPM
/bower_components/
/node_modules/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.dev.vars
